/* Navbar */

nav {
    padding: 20px;
    background-color: #EFEDFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 30px;
}

.nav-list ul a {
    text-decoration: none;
    color: #1E1E1E;
    font-family: "Inter", sans-serif;
}

.nav-list ul a:hover {
    transition: 0.3s;
    color: #553DEB;
}

.connect a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    background-color: #553DEB;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #553DEB;
    transition: 0.5s;
}

.connect a:hover {
    transition: 0.5s;
    background-color: #EFEDFF;
    border: 1px solid #553DEB;
    color: #553DEB;
}

.logo img {
    width: 120px;
}